@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bitter&family=Raleway&display=swap");

:root {
    --color-bg: #0a0a0a;
    --color-font: #ffffff;
    --color-secondary: #bd4830;

    --font-main: "Arimo", sans-serif;
    --font-ru: "Arimo", sans-serif;
    --font-he: "Bitter", serif;
    --font-en: "Raleway", sans-serif;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
* {
    box-sizing: border-box;
}

.full-page {
    height: 100vh;
    height: 100svh;
    background-color: var(--color-bg);
}

.photo-slide {
    width: 300px;
    height: 600px;
}
